@font-face{
  font-family: Vazir;
  font-style: normal;
  font-weight: 800;
  src: url('../setup/assets/font/Vazir-Bold.eot');
  src: url('../setup/assets/font/Vazir-Bold.eot') format('mbedded-opentype'),
       url('../setup/assets/font/Vazir-Bold.woff') format('woff'),
       url('../setup/assets/font/Vazir-Bold.ttf') format('truetype');
}
@font-face{
  font-family: Vazir;
  font-style: normal;
  font-weight: 600;
  src: url('../setup/assets/font/Vazir.eot');
  src: url('../setup/assets/font/Vazir.eot') format('mbedded-opentype'),
       url('../setup/assets/font/Vazir.woff') format('woff'),
       url('../setup/assets/font/Vazir.ttf') format('truetype');
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Vazir"!important;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
